.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculadora {
    display: grid; /*Establece un diseño de cuadricula*/
    grid-template-columns: repeat(4,75px); /*aqui detemrinamos el numero de columnas de igual tamaño*/
    grid-template-rows: repeat(6,75px); /*seis filas*/
    gap: 10px; /*espacio entre los elementos de la cuadricula*/
    background-color: #0eb6ee; /*Color fondo claro*/
    padding: 25px; /*Espacio interno alrdedor de la cuadricula*/
    border-radius: 15px;/*borde redondeado*/

}


#display {
    grid-column: span 4; /* El display ocupa las cuatro columnas */
    background-color: white; /* Color de fondo blanco */
    font-size: 2em; /* Tamaño de fuente grande para el display */
    border: 1px solid black;
    text-align: right;/* Alinea el texto a la derecha */
    padding: 10px; /* Espacio interno alrededor del texto */
    font-family: 'Courier New', Courier, monospace; /* Fuente de estilo máquina de escribir */
}

#equals{
    grid-column: span 2; /*el boton "=" ocupa dos columnas*/
    background-color:  #4CAF50; /*color fondo verde*/
    color: white; /*color del texto blanco */
    border: none; /*sin borde*/
    font-weight: bold;
}

.operations {
    background-color: #f0ad4e; /* Color de fondo naranja */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    font-weight: bold;
}

.cancel {
    background-color: #d9534f; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    font-weight: bold;
}

button {
    cursor: pointer; /* Cambia el cursor al pasar sobre los botones */
    font-size: 1.5em; /* Tamaño de fuente grande para los botones */
    border: none;
    border-radius: 45px;
}

button:active{
    box-shadow: inset 0 0 10px #000000;
}