        h1 {
            color:red;
            background: blue;
            border: 1px solid black;
            width: 600px;
            height: 90px;
        }

        h2 {
            color: #57180C;
            background: #5F691B;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 40px;
            margin-top: 500px;
            margin-bottom: 90px;
            margin-left: 400px;
        }

        p {
            background: brown;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }

        body {
            background-color: black;
        }