.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    color: white;


}

/*habilite el contenido del atributo type*/
p:before {
    content: attr(type);
    display: block;
    font-size: bold;
    
}

input {
    width: 270px;
    border: none;
    border-bottom: 2px solid white;
}